<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="scopeProbe"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.sandbox.jdt.ui.probe.ScopeExpansionProbeApplication"/>
      </application>
   </extension>
</plugin>
