<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension
          point="org.eclipse.jdt.ui.cleanUps">
            
      
       <cleanUp
             class="org.sandbox.jdt.internal.ui.fix.UseIteratorToForLoopCleanUp"
             id="org.eclipse.jdt.ui.cleanup.toolscleanup" />
              <!--      runAfter="org.eclipse.jdt.ui.cleanup.unboxing" -->
    </extension>
         
</plugin>
