<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="Feature" name="target platform for sandbox">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-12/"/>
			<unit id="org.eclipse.egit.feature.group" version="6.4.0.202211300538-r"/>
			<unit id="org.eclipse.emf.compare.egit.feature.group" version="3.3.20.202211161457"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.32.0.v20221121-1400"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.18.1400.v20221123-1800"/>
			<unit id="org.eclipse.jgit.feature.group" version="6.4.0.202211300538-r"/>
			<unit id="org.eclipse.pde.feature.group" version="3.14.1400.v20221123-1800"/>
			<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.7.3.v202111212041"/>
			<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.28.0.v202211200019"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.26.0.v20221123-2302"/>
			<unit id="org.eclipse.ecf.core.feature.group" version="3.14.37.v20221119-2038"/>
			<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.14.37.v20221119-2038"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.600.v20221116-1440"/>
			<unit id="org.eclipse.gmf.feature.group" version="1.15.3.202211041032"/>
			<unit id="org.eclipse.egit.gitflow.feature.feature.group" version="6.4.0.202211300538-r"/>
			<unit id="org.eclipse.jgit.gpg.bc.feature.group" version="6.4.0.202211300538-r"/>
			<unit id="org.eclipse.jgit.http.apache.feature.group" version="6.4.0.202211300538-r"/>
			<unit id="org.eclipse.ecf.core.source.feature.group" version="3.14.37.v20221119-2038"/>
			<unit id="org.eclipse.ecf.remoteservice.sdk.feature.source.feature.group" version="3.14.37.v20221119-2038"/>
			<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.20.202211161457"/>
			<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.3.20.202211161457"/>
			<unit id="epp.package.java" version="4.26.0.20221201-1200"/>
			<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.3.100.v20221116-1440"/>
			<unit id="org.eclipse.e4.rcp.feature.group" version="4.26.0.v20221123-2302"/>
			<unit id="org.eclipse.e4.rcp.source.feature.group" version="4.26.0.v20221123-2302"/>
			<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.6.1.v20211005-1944"/>
			<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.501.v20210409-2301"/>
			<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1800.v20220215-0126"/>
			<unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="1.1.701.v20221112-0806"/>
			<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.401.v20210409-2301"/>
			<unit id="org.eclipse.emf.common.feature.group" version="2.28.0.v20221121-1400"/>
			<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.13.900.v20221116-1440"/>
			<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.4.1800.v20221117-1044"/>
			<unit id="org.eclipse.jgit.lfs.feature.group" version="6.4.0.202211300538-r"/>
			<unit id="org.eclipse.jgit.ssh.apache.feature.group" version="6.4.0.202211300538-r"/>
			<unit id="org.eclipse.ecf.eventadmin.feature.feature.group" version="2.0.201.v20221117-1507"/>
			<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.26.0.v20221111-1233"/>
			<unit id="org.eclipse.rcp.feature.group" version="4.26.0.v20221123-2302"/>
			<unit id="org.eclipse.rcp.sdk.id" version="4.26.0.I20221123-1800"/>
			<unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="1.4.1800.v20221117-1044"/>
			<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.1800.v20221117-1044"/>
			<unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.32.0.v20220925-1245"/>
			<unit id="org.eclipse.emf.common.ui.feature.group" version="2.19.0.v20220226-1304"/>
			<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.23.600.v20221116-1440"/>
			<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.22.500.v20221013-0547"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.1200.v20221111-1340"/>
			<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.4.1800.v20221117-1044"/>
			<unit id="org.eclipse.ecf.discovery.feature.feature.group" version="1.0.201.v20221117-1507"/>
			<unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.source.feature.group" version="1.1.701.v20221112-0806"/>
			<unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="1.1.501.v20210409-2301"/>
			<unit id="org.eclipse.equinox.core.feature.source.feature.group" version="1.13.900.v20221116-1440"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.source.feature.group" version="1.2.1200.v20221111-1340"/>
			<unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.4.1800.v20221117-1044"/>
		</location>
		<!-- does not work
Failed to resolve target definition C:\Users\chammer\git\sandbox\sandbox_target\eclipse.target: Failed to load p2 metadata repository from location https://www.eclipse.org/jdt/ui/update-site/content: The p2 repository at https://www.eclipse.org/jdt/ui/update-site/content contains partial IUs (see above) from an old style update site which cannot be used for dependency resolution
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="https://www.eclipse.org/jdt/ui/update-site/content"/>
<unit id="org.eclipse.jdt.astview.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.jeview.feature.feature.group" version="0.0.0"/>
</location>
-->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/technology/babel/update-site/latest/"/>
			<unit id="org.eclipse.babel.nls_datatools_de.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_datatools_fr.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_modeling.emf_de.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_modeling.emf_fr.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.egit_de.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.egit_fr.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_de.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_technology.jgit_fr.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_tools.gef_de.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.babel.nls_tools.gef_fr.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="net.bytebuddy.byte-buddy" version="1.12.18.v20221114-2102"/>
			<unit id="net.bytebuddy.byte-buddy-agent" version="1.12.18.v20221114-2102"/>
			<unit id="org.apache.xerces" version="2.12.2.v20220131-0835"/>
			<unit id="org.junit" version="4.13.2.v20211018-1956"/>
			<unit id="org.junit.source" version="4.13.2.v20211018-1956"/>
			<unit id="org.objenesis" version="3.3.0.v20221103-2317"/>
			<unit id="com.google.gson" version="2.9.1.v20220915-1632"/>
			<unit id="com.jcraft.jsch" version="0.1.55.v20221112-0806"/>
			<unit id="com.jcraft.jzlib" version="1.1.3.v20220502-1820"/>
			<unit id="javaewah" version="1.1.13.v20211029-0839"/>
			<unit id="javax.activation" version="2.0.0.v20221112-0806"/>
			<unit id="net.i2p.crypto.eddsa" version="0.3.0.v20220506-1020"/>
			<unit id="org.apache.ant" version="1.10.12.v20211102-1452"/>
			<unit id="org.apache.commons.codec" version="1.14.0.v20221112-0806"/>
			<unit id="org.apache.commons.compress" version="1.21.0.v20211103-2100"/>
			<unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
			<unit id="org.apache.log4j" version="1.2.19.v20220208-1728"/>
			<unit id="org.apache.sshd.osgi" version="2.9.2.v20221117-1942"/>
			<unit id="org.apache.sshd.sftp" version="2.9.2.v20221117-1942"/>
			<unit id="org.assertj" version="3.20.2.v20210706-1104"/>
			<unit id="org.bouncycastle.bcpg" version="1.72.0.v20221013-1810"/>
			<unit id="org.bouncycastle.bcpkix" version="1.72.0.v20221013-1810"/>
			<unit id="org.bouncycastle.bcprov" version="1.72.0.v20221013-1810"/>
			<unit id="org.kohsuke.args4j" version="2.33.0.v20160323-2218"/>
			<unit id="org.slf4j.api" version="1.7.30.v20221112-0806"/>
			<unit id="org.slf4j.binding.log4j12" version="1.7.30.v20221112-0806"/>
			<unit id="org.tukaani.xz" version="1.9.0.v20210624-1259"/>
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20221123021534/repository/"/>
			<unit id="org.hamcrest" version="2.2.0.v20210711-0821"/>
			<unit id="org.junit.jupiter.api" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.jupiter.engine" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.jupiter.migrationsupport" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.jupiter.params" version="5.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.commons" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.engine" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.launcher" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.runner" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.suite.api" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.suite.commons" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.platform.suite.engine" version="1.9.1.v20221103-2317"/>
			<unit id="org.junit.vintage.engine" version="5.9.1.v20221103-2317"/>
			<unit id="org.mockito.junit-jupiter" version="4.8.1.v20221103-2317"/>
			<unit id="org.mockito.mockito-core" version="4.8.1.v20221103-2317"/>
			<unit id="org.apache.commons.io" version="2.8.0.v20210415-0900"/>
			<unit id="org.objectweb.asm" version="9.4.0.v20221107-1714"/>
			<unit id="org.objectweb.asm.analysis" version="9.4.0.v20221107-1714"/>
			<unit id="org.objectweb.asm.commons" version="9.4.0.v20221107-1714"/>
			<unit id="org.objectweb.asm.tree" version="9.4.0.v20221107-1714"/>
			<unit id="org.objectweb.asm.util" version="9.4.0.v20221107-1714"/>
			<unit id="org.aopalliance" version="1.0.0.v20220404-1927"/>
			<unit id="org.apache.commons.cli" version="1.4.0.v20221112-0806"/>
			<unit id="org.apache.felix.scr" version="2.1.24.v20221112-0806"/>
			<unit id="org.apache.httpcomponents.client5.httpclient5" version="5.1.3.v20221013-1742"/>
			<unit id="org.apache.httpcomponents.client5.httpclient5-win" version="5.1.3.v20221013-1742"/>
			<unit id="org.apache.httpcomponents.client5.httpclient5-win.source" version="5.1.3.v20221013-1742"/>
			<unit id="org.apache.httpcomponents.client5.httpclient5.source" version="5.1.3.v20221013-1742"/>
			<unit id="org.apache.httpcomponents.core5.httpcore5" version="5.1.4.v20221013-1742"/>
			<unit id="org.apache.httpcomponents.core5.httpcore5-h2" version="5.1.4.v20221013-1742"/>
			<unit id="org.opentest4j" version="1.2.0.v20211018-1956"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.swtbot.forms.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/technology/swtbot/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/justj/jres/17/updates/release/latest/"/>
			<unit id="org.eclipse.justj.openjdk.hotspot.jre.base.feature.group" version="0.0.0"/>
		</location>
	</locations>
</target>