<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.jdt.ui.cleanUps">
		<cleanUpConfigurationUI class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" cleanUpKind="cleanUp" name="JFace Cleanup (Sandbox)" />
		<cleanUpConfigurationUI class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" name="JFace Cleanup (Sandbox)" cleanUpKind="saveAction" />
		<cleanUpOptionsInitializer class="org.sandbox.jdt.internal.ui.preferences.cleanup.DefaultCleanUpOptionsInitializer" cleanUpKind="cleanUp"></cleanUpOptionsInitializer>
		<cleanUpOptionsInitializer class="org.sandbox.jdt.internal.ui.preferences.cleanup.SaveActionCleanUpOptionsInitializer" cleanUpKind="saveAction"></cleanUpOptionsInitializer>
		
		<cleanUp class="org.sandbox.jdt.internal.ui.fix.JFaceCleanUp" id="org.eclipse.jdt.ui.cleanup.jfacecleanup" />
		<!--      runAfter="org.eclipse.jdt.ui.cleanup.unboxing" -->
	</extension>
	<extension point="org.sandbox.jdt.triggerpattern.hints">
		<hintFile
			id="jface-deprecations"
			resource="org/sandbox/jdt/internal/corext/fix/hints/jface-deprecations.sandbox-hint" />
	</extension>

   <extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            id="org.sandbox.jdt.jface.cleanup.gettingStarted"
            name="Modernizing JFace Code"
            contentFile="cheatsheets/jface-cleanup-getting-started.xml">
         <description>Learn how to modernize JFace API usage by replacing deprecated APIs with current equivalents</description>
      </cheatsheet>
   </extension>

</plugin>