<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.sandbox.jdt.triggerpattern.hints" name="Trigger Pattern Hints" schema="schema/org.sandbox.jdt.triggerpattern.hints.exsd"/>
   
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.sandbox.jdt.triggerpattern.ui.TriggerPatternQuickAssistProcessor"
            id="org.sandbox.jdt.triggerpattern.quickAssist"
            name="Trigger Pattern Quick Assist">
      </quickAssistProcessor>
   </extension>
   
   <extension
         point="org.sandbox.jdt.triggerpattern.hints">
      <hintProvider
            class="org.sandbox.jdt.triggerpattern.examples.ExampleHintProvider">
      </hintProvider>
   </extension>
</plugin>
