<?xml version="1.0" encoding="UTF-8"?>
<plugin>
 <extension point="org.eclipse.jdt.ui.cleanUps">
  <cleanUpConfigurationUI class="org.sandbox.jdt.internal.ui.preferences.cleanup.MathematicalCleanUpTabPage" cleanUpKind="cleanUp" name="Mathematics (Sandbox)"/>
  <cleanUpOptionsInitializer class="org.sandbox.jdt.internal.ui.preferences.cleanup.MathematicalOptionsInitializer" cleanUpKind="cleanUp"/>
  <cleanUp class="org.sandbox.jdt.internal.ui.fix.MathematicalCleanUp" id="org.sandbox.jdt.ui.cleanup.mathematics"/>
 </extension>
 <extension point="org.eclipse.jdt.ui.quickAssistProcessors"><quickAssistProcessor id="sandbox.mathematics.assist" name="Optimize verified mathematics" class="org.sandbox.jdt.internal.ui.fix.MathematicalQuickAssist"/></extension>
 <extension point="org.eclipse.core.runtime.applications" id="analysis"><application thread="any" cardinality="singleton-global" visible="true"><run class="org.sandbox.jdt.internal.ui.fix.MathematicalApplication"/></application></extension>
</plugin>
