<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.jdt.ui.cleanUps">
		<cleanUpConfigurationUI class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" cleanUpKind="cleanUp" name="Explicit Encoding (Sandbox)" />
		<cleanUpConfigurationUI class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" name="Explicit Encoding (Sandbox)" cleanUpKind="saveAction" />
		<cleanUpOptionsInitializer class="org.sandbox.jdt.internal.ui.preferences.cleanup.DefaultCleanUpOptionsInitializer" cleanUpKind="cleanUp"></cleanUpOptionsInitializer>
		<cleanUpOptionsInitializer class="org.sandbox.jdt.internal.ui.preferences.cleanup.SaveActionCleanUpOptionsInitializer" cleanUpKind="saveAction"></cleanUpOptionsInitializer>
		<cleanUp class="org.sandbox.jdt.internal.ui.fix.UseExplicitEncodingCleanUp" id="org.eclipse.jdt.ui.cleanup.explicitencoding" />
		<!--      runAfter="org.eclipse.jdt.ui.cleanup.unboxing" -->
	</extension>
	<extension point="org.sandbox.jdt.triggerpattern.hints">
		<hintFile
			id="encoding"
			resource="org/sandbox/jdt/internal/corext/fix/hints/encoding.sandbox-hint" />
	</extension>

   <extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            id="org.sandbox.jdt.encoding.quickfix.gettingStarted"
            name="Using the Explicit Encoding Cleanup"
            contentFile="cheatsheets/encoding-cleanup-getting-started.xml">
         <description>Learn how to replace platform-dependent encoding with explicit StandardCharsets constants</description>
      </cheatsheet>
   </extension>

</plugin>