<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- =========================================================================== -->
<!-- Java Search Page                                                            -->
<!-- =========================================================================== -->
   <extension
         point="org.eclipse.search.searchPages">
      <page
            showScopeSection="true"
            canSearchEnclosingProjects="true"
            label="%TestSearchPage.label"
            icon="$nl$/icons/full/obj16/jsearch_obj.png"
            extensions="java:90, jav:90"
            class="org.sandbox.jdt.internal.ui.search.UpdateNeededSearchPage"
            sizeHint="460,160"
            id="org.eclipse.jdt.ui.TestSearchPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%JavaSearchActionSet.label"
            description="%JavaSearchActionSet.description"
            visible="false"
            id="org.eclipse.jdt.ui.SearchActionSet">
<!-- see http://bugs.eclipse.org/bugs/show_bug.cgi?id=15684    -->
<!-- Note: The menu (re-) definition has to be here due to bug: -->
<!-- =================================================================== -->
<!-- Search Menu                                                         -->
<!-- =================================================================== -->
         <menu
               label="%searchMenu.label"
               path="navigate"
               id="org.eclipse.search.menu">
				<groupMarker name="internalDialogGroup"/>   <!-- not to be used by clients  -->
				<groupMarker name="dialogGroup"/>           <!-- to be used by clients      -->
				<separator name="fileSearchContextMenuActionsGroup"/> <!-- to be used by clients      -->
	         	<separator name="contextMenuActionsGroup"/> <!-- to be used by clients -->
	         	<separator name="occurencesActionsGroup"/> <!-- to be used by clients -->
	         	<separator name="extraSearchGroup"/> <!-- to be used by clients -->
         </menu>
<!-- dialog group  -->
         <action
               label="%openUpdateSearchPageAction.label"
               icon="$nl$/icons/full/obj16/jsearch_obj.png"
               helpContextId="org.eclipse.jdt.ui.java_search_action_context"
               class="org.sandbox.jdt.internal.ui.search.OpenUpdateSearchPageAction"
               menubarPath="org.eclipse.search.menu/dialogGroup"
               id="org.eclipse.jdt.ui.actions.OpenUpdateSearchPage">
         </action>
         </actionSet>
      </extension>
</plugin>
