<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- =========================================================================== -->
<!-- Java Search Page                                                            -->
<!-- =========================================================================== -->
   <extension
         point="org.eclipse.search.searchPages">
      <page
            showScopeSection="true"
            canSearchEnclosingProjects="true"
            label="%page.label"
            icon="$nl$/icons/full/obj16/sandbox.png"
            extensions="java:90, jav:90"
            class="org.sandbox.jdt.internal.ui.search.UpdateNeededSearchPage"
            sizeHint="460,160"
            id="org.eclipse.jdt.ui.TestSearchPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%JavaSearchActionSet.label"
            description="%JavaSearchActionSet.description"
            visible="false"
            id="org.eclipse.jdt.ui.SearchActionSet">
<!-- see http://bugs.eclipse.org/bugs/show_bug.cgi?id=15684    -->
<!-- Note: The menu (re-) definition has to be here due to bug: -->
<!-- =================================================================== -->
<!-- Search Menu                                                         -->
<!-- =================================================================== -->
         <menu
               label="%searchMenu.label"
               path="navigate"
               id="org.eclipse.search.menu">
				<groupMarker name="internalDialogGroup"/>   <!-- not to be used by clients  -->
				<groupMarker name="dialogGroup"/>           <!-- to be used by clients      -->
				<separator name="fileSearchContextMenuActionsGroup"/> <!-- to be used by clients      -->
	         	<separator name="contextMenuActionsGroup"/> <!-- to be used by clients -->
	         	<separator name="occurencesActionsGroup"/> <!-- to be used by clients -->
	         	<separator name="extraSearchGroup"/> <!-- to be used by clients -->
         </menu>
<!-- dialog group  -->
         <action
               label="%openUpdateSearchPageAction.label"
               icon="$nl$/icons/full/obj16/sandbox.png"
               helpContextId="org.eclipse.jdt.ui.java_search_action_context"
               class="org.sandbox.jdt.internal.ui.search.OpenUpdateSearchPageAction"
               menubarPath="org.eclipse.search.menu/dialogGroup"
               id="org.eclipse.jdt.ui.actions.OpenUpdateSearchPage">
         </action>
         </actionSet>
      </extension>
<!-- =========================================================================== -->
<!-- Git Database Index Views                                                    -->
<!-- =========================================================================== -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.sandbox.jdt.internal.ui.search.gitindex"
            name="Git Database Index">
      </category>
      <view
            name="Git Database Search"
            category="org.sandbox.jdt.internal.ui.search.gitindex"
            class="org.sandbox.jdt.internal.ui.search.gitindex.GitSearchView"
            id="org.sandbox.jdt.internal.ui.search.gitindex.GitSearchView">
      </view>
      <view
            name="Java Type History"
            category="org.sandbox.jdt.internal.ui.search.gitindex"
            class="org.sandbox.jdt.internal.ui.search.gitindex.JavaTypeHistoryView"
            id="org.sandbox.jdt.internal.ui.search.gitindex.JavaTypeHistoryView">
      </view>
      <view
            name="Commit Analytics"
            category="org.sandbox.jdt.internal.ui.search.gitindex"
            class="org.sandbox.jdt.internal.ui.search.gitindex.CommitAnalyticsView"
            id="org.sandbox.jdt.internal.ui.search.gitindex.CommitAnalyticsView">
      </view>
   </extension>
<!-- =========================================================================== -->
<!-- Git Database Index Commands                                                 -->
<!-- =========================================================================== -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.sandbox.jdt.internal.ui.search.gitindex.commands"
            name="Git Database Index">
      </category>
      <command
            id="org.sandbox.jdt.internal.ui.search.gitindex.commands.indexRepository"
            name="Index Repository"
            categoryId="org.sandbox.jdt.internal.ui.search.gitindex.commands">
      </command>
      <command
            id="org.sandbox.jdt.internal.ui.search.gitindex.commands.reindexAll"
            name="Reindex All Repositories"
            categoryId="org.sandbox.jdt.internal.ui.search.gitindex.commands">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.sandbox.jdt.internal.ui.search.gitindex.commands.indexRepository"
            class="org.sandbox.jdt.internal.ui.search.gitindex.IndexRepositoryHandler">
      </handler>
      <handler
            commandId="org.sandbox.jdt.internal.ui.search.gitindex.commands.reindexAll"
            class="org.sandbox.jdt.internal.ui.search.gitindex.ReindexAllHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.sandbox.jdt.internal.ui.search.gitindex.GitSearchView">
         <command
               commandId="org.sandbox.jdt.internal.ui.search.gitindex.commands.indexRepository"
               label="Index Repository"
               style="push">
         </command>
         <command
               commandId="org.sandbox.jdt.internal.ui.search.gitindex.commands.reindexAll"
               label="Reindex All"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <viewShortcut
               id="org.sandbox.jdt.internal.ui.search.gitindex.GitSearchView"/>
      </perspectiveExtension>
   </extension>
</plugin>
