<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sandbox.jdt.triggerpattern.hints">
      <hintProvider
            class="org.sandbox.jdt.triggerpattern.string.StringSimplificationHintProvider">
      </hintProvider>
   </extension>
</plugin>
