<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sandbox.jdt.triggerpattern.hints">
      <hintProvider
            class="org.sandbox.jdt.triggerpattern.string.StringSimplificationHintProvider">
      </hintProvider>
      <hintProvider
            class="org.sandbox.jdt.triggerpattern.concurrency.DoubleCheckLockingHintProvider">
      </hintProvider>
   </extension>
   
   <extension point="org.eclipse.jdt.ui.cleanUps">
      <cleanUpConfigurationUI 
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" 
            cleanUpKind="cleanUp" 
            name="SandboxCode" />
      <cleanUpConfigurationUI 
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" 
            name="SandboxCode (Save Actions)" 
            cleanUpKind="saveAction" />
      <cleanUpOptionsInitializer 
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.DefaultCleanUpOptionsInitializer" 
            cleanUpKind="cleanUp" />
      <cleanUpOptionsInitializer 
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.SaveActionCleanUpOptionsInitializer" 
            cleanUpKind="saveAction" />
      <cleanUp 
            class="org.sandbox.jdt.internal.ui.fix.StringSimplificationCleanUp" 
            id="org.eclipse.jdt.ui.cleanup.stringsimplification" />
   </extension>
</plugin>
