<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sandbox.jdt.triggerpattern.hints">
      <hintProvider
            class="org.sandbox.jdt.triggerpattern.string.StringSimplificationHintProvider">
      </hintProvider>
      <hintProvider
            class="org.sandbox.jdt.triggerpattern.shift.ShiftOutOfRangeHintProvider">
           </hintProvider>
      <hintProvider class="org.sandbox.jdt.triggerpattern.concurrency.DoubleCheckLockingHintProvider">
      </hintProvider>
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <category
            id="org.sandbox.jdt.views"
            name="Sandbox" />
      <view
            category="org.sandbox.jdt.views"
            class="org.sandbox.jdt.internal.ui.views.mining.RefactoringMiningView"
            icon="icons/mining.png"
            id="org.sandbox.jdt.views.refactoringMining"
            name="Refactoring Mining" />
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="org.sandbox.jdt.internal.ui.preferences.LlmPreferencePage"
            id="org.sandbox.jdt.triggerpattern.preferences.LlmPreferencePage"
            name="LLM Rule Inference" />
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.sandbox.jdt.internal.ui.preferences.LlmPreferenceInitializer" />
   </extension>

   <extension point="org.eclipse.jdt.ui.cleanUps">
      <cleanUpConfigurationUI 
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" 
            cleanUpKind="cleanUp" 
            name="Code Patterns (Sandbox)" />
      <cleanUpConfigurationUI 
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" 
            name="Code Patterns (Sandbox)" 
            cleanUpKind="saveAction" />
      <cleanUpOptionsInitializer 
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.DefaultCleanUpOptionsInitializer" 
            cleanUpKind="cleanUp" />
      <cleanUpOptionsInitializer 
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.SaveActionCleanUpOptionsInitializer" 
            cleanUpKind="saveAction" />
      <cleanUp
            class="org.sandbox.jdt.internal.ui.fix.StringSimplificationCleanUp"
            id="org.eclipse.jdt.ui.cleanup.stringsimplification" />
      <cleanUp
            class="org.sandbox.jdt.internal.ui.fix.ThreadingCleanUp"
            id="org.eclipse.jdt.ui.cleanup.threading" />
      <cleanUp
            class="org.sandbox.jdt.internal.ui.fix.ShiftOutOfRangeCleanUp" 
            id="org.eclipse.jdt.ui.cleanup.shift_out_of_range" />
      <cleanUp
            class="org.sandbox.jdt.internal.ui.fix.HintFileCleanUp"
            id="org.eclipse.jdt.ui.cleanup.hintfile" />
      <cleanUp
            class="org.sandbox.jdt.internal.ui.fix.WrongStringComparisonCleanUp"
            id="org.eclipse.jdt.ui.cleanup.wrong_string_comparison" />
      <cleanUp
            class="org.sandbox.jdt.internal.ui.fix.PrintStackTraceCleanUp"
            id="org.eclipse.jdt.ui.cleanup.print_stacktrace" />
      <cleanUp
            class="org.sandbox.jdt.internal.ui.fix.SystemOutCleanUp"
            id="org.eclipse.jdt.ui.cleanup.system_out" />
      <cleanUp
            class="org.sandbox.jdt.internal.ui.fix.ObsoleteCollectionCleanUp"
            id="org.eclipse.jdt.ui.cleanup.obsolete_collection" />
      <cleanUp
            class="org.sandbox.jdt.internal.ui.fix.MissingHashCodeCleanUp"
            id="org.eclipse.jdt.ui.cleanup.missing_hashcode" />
      <cleanUp
            class="org.sandbox.jdt.internal.ui.fix.OverridableCallInConstructorCleanUp"
            id="org.eclipse.jdt.ui.cleanup.overridable_in_constructor" />
   </extension>

   <extension point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.sandbox.jdt.internal.ui.quickassist.DslFromSelectionAssistProcessor"
            id="org.sandbox.jdt.triggerpattern.quickassist.dslFromSelection"
            name="Generate DSL Rule from Selection" />
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            id="org.sandbox.jdt.triggerpattern.commands.mineDiff"
            name="Mine DSL Rule from Diff" />
      <command
            id="org.sandbox.jdt.triggerpattern.commands.mineWorkingTree"
            name="Mine DSL Rules from Working Tree" />
      <command
            id="org.sandbox.jdt.triggerpattern.commands.newHintFromSelection"
            name="New Hint File from Selection" />
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.sandbox.jdt.internal.ui.handlers.MineDiffHandler"
            commandId="org.sandbox.jdt.triggerpattern.commands.mineDiff" />
      <handler
            class="org.sandbox.jdt.internal.ui.handlers.MineWorkingTreeHandler"
            commandId="org.sandbox.jdt.triggerpattern.commands.mineWorkingTree" />
      <handler
            class="org.sandbox.jdt.internal.ui.handlers.NewHintFromSelectionHandler"
            commandId="org.sandbox.jdt.triggerpattern.commands.newHintFromSelection" />
   </extension>

   <!-- ===== New Wizard ===== -->
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.sandbox.jdt.triggerpattern"
            name="Sandbox TriggerPattern"/>
      <wizard
            id="org.sandbox.jdt.triggerpattern.newHintFileWizard"
            name="Sandbox Hint File"
            category="org.sandbox.jdt.triggerpattern"
            class="org.sandbox.jdt.internal.ui.wizard.NewSandboxHintFileWizard">
         <description>Create a new .sandbox-hint file with transformation rules</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <!-- ===== Cheatsheet ===== -->
   <extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            id="org.sandbox.jdt.triggerpattern.gettingStarted"
            name="Getting Started with Sandbox Hint Files"
            contentFile="cheatsheets/sandbox-hint-getting-started.xml">
         <description>Learn how to create and use .sandbox-hint files</description>
      </cheatsheet>
   </extension>

   <!-- ===== Context Menu ===== -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.CompilationUnitEditor">
         <menu id="org.sandbox.triggerpattern.menu"
               label="Sandbox TriggerPattern">
            <command commandId="org.sandbox.jdt.triggerpattern.commands.newHintFromSelection"
                     label="New hint file from selection..."
                     style="push">
               <visibleWhen>
                  <with variable="activeEditorId">
                     <equals value="org.eclipse.jdt.ui.CompilationUnitEditor"/>
                  </with>
               </visibleWhen>
            </command>
            <command commandId="org.sandbox.jdt.triggerpattern.commands.mineDiff"
                     label="Mine DSL rule from diff..."
                     style="push"/>
            <command commandId="org.sandbox.jdt.triggerpattern.commands.mineWorkingTree"
                     label="Mine DSL rules from working tree..."
                     style="push"/>
         </menu>
      </menuContribution>
   </extension>
</plugin>
