<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.jdt.ui.cleanUps">
		<cleanUpConfigurationUI class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" cleanUpKind="cleanUp" name="SandboxCode" />
		<cleanUpConfigurationUI class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" name="SandboxCode" cleanUpKind="saveAction" />
		<cleanUpOptionsInitializer class="org.sandbox.jdt.internal.ui.preferences.cleanup.DefaultCleanUpOptionsInitializer" cleanUpKind="cleanUp"></cleanUpOptionsInitializer>
		<cleanUpOptionsInitializer class="org.sandbox.jdt.internal.ui.preferences.cleanup.SaveActionCleanUpOptionsInitializer" cleanUpKind="saveAction"></cleanUpOptionsInitializer>
		
		<cleanUp class="org.sandbox.jdt.internal.ui.fix.JUnitCleanUp" id="org.eclipse.jdt.ui.cleanup.junitcleanup" />
		<!--      runAfter="org.eclipse.jdt.ui.cleanup.unboxing" -->
	</extension>
	<extension point="org.sandbox.jdt.triggerpattern.hints">
		<hintFile
			id="junit5"
			resource="org/sandbox/jdt/internal/corext/fix/hints/junit5.sandbox-hint" />
		<hintFile
			id="assume5"
			resource="org/sandbox/jdt/internal/corext/fix/hints/assume5.sandbox-hint" />
		<hintFile
			id="annotations5"
			resource="org/sandbox/jdt/internal/corext/fix/hints/annotations5.sandbox-hint" />
		<hintFile
			id="junit3-migration"
			resource="org/sandbox/jdt/internal/corext/fix/hints/junit3-migration.sandbox-hint" />
	</extension>
</plugin>