<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.jdt.ui.cleanUps">
		<cleanUpConfigurationUI class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" cleanUpKind="cleanUp" name="JUnit Migration (Sandbox)" />
		<cleanUpConfigurationUI class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" name="JUnit Migration (Sandbox)" cleanUpKind="saveAction" />
		<cleanUpOptionsInitializer class="org.sandbox.jdt.internal.ui.preferences.cleanup.DefaultCleanUpOptionsInitializer" cleanUpKind="cleanUp"></cleanUpOptionsInitializer>
		<cleanUpOptionsInitializer class="org.sandbox.jdt.internal.ui.preferences.cleanup.SaveActionCleanUpOptionsInitializer" cleanUpKind="saveAction"></cleanUpOptionsInitializer>
		
		<cleanUp class="org.sandbox.jdt.internal.ui.fix.JUnitCleanUp" id="org.eclipse.jdt.ui.cleanup.junitcleanup" />
		<!--      runAfter="org.eclipse.jdt.ui.cleanup.unboxing" -->
	</extension>
   <extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            id="org.sandbox.jdt.junit.cleanup.gettingStarted"
            name="Migrating JUnit 3/4 Tests to JUnit 5"
            contentFile="cheatsheets/junit-migration-getting-started.xml">
         <description>Learn how to automatically migrate JUnit 3 and JUnit 4 test classes to JUnit 5</description>
      </cheatsheet>
   </extension>

</plugin>