<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.jdt.ui.cleanUps">
      <cleanUpConfigurationUI
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage"
            cleanUpKind="cleanUp"
            icon="icons/full/obj16/sandbox.png"
            name="XML Cleanup (Sandbox)"/>
      <cleanUpConfigurationUI
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage"
            cleanUpKind="saveAction"
            icon="icons/full/obj16/sandbox.png"
            name="XML Cleanup (Sandbox)"/>
      <cleanUpOptionsInitializer
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.DefaultCleanUpOptionsInitializer"
            cleanUpKind="cleanUp"/>
      <cleanUpOptionsInitializer
            class="org.sandbox.jdt.internal.ui.preferences.cleanup.SaveActionCleanUpOptionsInitializer"
            cleanUpKind="saveAction"/>
      <cleanUp
            class="org.sandbox.jdt.internal.ui.fix.XMLCleanUp"
            id="org.eclipse.jdt.ui.cleanup.xmlcleanup"/>
   </extension>

   <extension
         id="sandbox_xml_cleanup.pdeXmlCleanupProblem"
         name="PDE XML cleanup problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
   </extension>

   <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.sandbox.jdt.internal.corext.fix.helper.ExsdMarkerResolutionGenerator"
            markerType="sandbox_xml_cleanup.pdeXmlCleanupProblem"/>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <category
            id="org.sandbox.jdt.xml.cleanup.category"
            name="XML Cleanup"/>
      <command
            categoryId="org.sandbox.jdt.xml.cleanup.category"
            description="Find PDE XML files whose formatting can be normalized"
            id="org.sandbox.jdt.xml.cleanup.analyze"
            name="Find PDE XML Cleanup Problems"/>
      <command
            categoryId="org.sandbox.jdt.xml.cleanup.category"
            description="Optimize whitespace in PDE XML files, schemas, and related descriptors"
            id="org.sandbox.jdt.xml.cleanup.command"
            name="Clean Up PDE XML Files"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.sandbox.jdt.internal.ui.handlers.XMLCleanupMarkerHandler"
            commandId="org.sandbox.jdt.xml.cleanup.analyze"/>
      <handler
            class="org.sandbox.jdt.internal.ui.handlers.XMLCleanupHandler"
            commandId="org.sandbox.jdt.xml.cleanup.command"/>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.sandbox.jdt.xml.cleanup.analyze"
               icon="icons/full/obj16/sandbox.png"
               label="Find PDE XML Cleanup Problems"
               style="push">
            <visibleWhen checkEnabled="false">
               <or>
                  <iterate ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IFile">
                        <or>
                           <test property="org.eclipse.core.resources.name" value="plugin.xml"/>
                           <test property="org.eclipse.core.resources.name" value="feature.xml"/>
                           <test property="org.eclipse.core.resources.name" value="fragment.xml"/>
                           <test property="org.eclipse.core.resources.extension" value="exsd"/>
                           <test property="org.eclipse.core.resources.extension" value="xsd"/>
                        </or>
                     </adapt>
                  </iterate>
                  <iterate ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IProject"/>
                  </iterate>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.sandbox.jdt.xml.cleanup.command"
               icon="icons/full/obj16/sandbox.png"
               label="Clean Up PDE XML"
               style="push">
            <visibleWhen checkEnabled="false">
               <or>
                  <iterate ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IFile">
                        <or>
                           <test property="org.eclipse.core.resources.name" value="plugin.xml"/>
                           <test property="org.eclipse.core.resources.name" value="feature.xml"/>
                           <test property="org.eclipse.core.resources.name" value="fragment.xml"/>
                           <test property="org.eclipse.core.resources.extension" value="exsd"/>
                           <test property="org.eclipse.core.resources.extension" value="xsd"/>
                        </or>
                     </adapt>
                  </iterate>
                  <iterate ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IProject"/>
                  </iterate>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>

      <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=source">
         <menu
               id="org.sandbox.jdt.xml.cleanup.menu"
               label="XML Cleanup">
            <command
                  commandId="org.sandbox.jdt.xml.cleanup.analyze"
                  label="Find PDE XML Cleanup Problems"
                  style="push"/>
            <command
                  commandId="org.sandbox.jdt.xml.cleanup.command"
                  label="Clean Up PDE XML Files"
                  style="push"/>
         </menu>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            contentFile="cheatsheets/xml-cleanup-getting-started.xml"
            id="org.sandbox.jdt.xml.cleanup.gettingStarted"
            name="Cleaning Up PDE XML Files">
         <description>Learn how to analyze and normalize PDE XML files</description>
      </cheatsheet>
   </extension>
</plugin>
