<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.jdt.ui.cleanUps">
		<cleanUpConfigurationUI class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" cleanUpKind="cleanUp" name="Platform Status (Sandbox)" />
		<cleanUpConfigurationUI class="org.sandbox.jdt.internal.ui.preferences.cleanup.SandboxCodeTabPage" name="Platform Status (Sandbox)" cleanUpKind="saveAction" />
		<cleanUpOptionsInitializer class="org.sandbox.jdt.internal.ui.preferences.cleanup.DefaultCleanUpOptionsInitializer" cleanUpKind="cleanUp"></cleanUpOptionsInitializer>
		<cleanUpOptionsInitializer class="org.sandbox.jdt.internal.ui.preferences.cleanup.SaveActionCleanUpOptionsInitializer" cleanUpKind="saveAction"></cleanUpOptionsInitializer>
		<cleanUp class="org.sandbox.jdt.internal.ui.fix.SimplifyPlatformStatusCleanUp" id="org.eclipse.jdt.ui.cleanup.simplifystatus" />
		<!--      runAfter="org.eclipse.jdt.ui.cleanup.unboxing" -->
	</extension>

   <extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            id="org.sandbox.jdt.platform.helper.gettingStarted"
            name="Simplifying the Eclipse Platform Status API"
            contentFile="cheatsheets/platform-status-getting-started.xml">
         <description>Learn how to replace verbose new Status(...) constructors with concise factory methods</description>
      </cheatsheet>
   </extension>

</plugin>